html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    text-align: center;
    background-image: url('../imgs/backgroung.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin-top: 6.1vh;
    margin-bottom: 4.11vh;
    font-size: 4.82vh;
    letter-spacing: 0.6vw;
    text-shadow: 0.128vw 0.192vw 0.256vw rgba(181, 181, 181, 0.75)
}

button {
    border: 1px solid white;
    border-style: outset;
    font-size: 0.83vw;
    border-radius: 50%;
    opacity: 0.8;
}

h1 button {
    height: 2.56vw;
    width: 2.56vw;
    cursor: pointer;
    color: white;
    background: transparent;
}


#mute:hover :disabled .flags-left:hover {
    color: black;
    background-color: white;
}

h2 {
    position: sticky;
    font-size: 1.28vw;
    letter-spacing: 1vw;
    top: 90vh;
    text-shadow: 0.128vw 0.192vw 0.256vw rgba(181, 181, 181, 0.75);
}

button:hover {
    background-color: transparent;
    color: white;
    transition: all 400ms;
}

table {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 27.2vh;
    text-align: center;
    margin: auto;
    border-spacing: 3px;
}

tr,
td {
    height: 25.6;
    width: 22;
    font-weight: bold;
    font-size: 0.9vw;
    transition: opacity 500ms;
    background-color: transparent;
    border: 0.2px solid white;
    border-radius: 0.25vw;
    transition: all 400ms;
}

td:hover {
    background-color: white;
    opacity: 0.5;
    color: black;
}

.cell {
    opacity: 0.7;
}

.safe {
    background-color: rgb(159, 230, 199);
    opacity: 0.6;
    color: black;
}

.mine-marked {
    background-color: rgb(226, 178, 123);
    opacity: 0.6;
}

.mega-hint-cell {
    background-color: rgb(199, 140, 231);
    opacity: 0.6;
}

.hint-cell {
    background-color: rgb(140, 199, 231);
    opacity: 0.6;
}

.selected-cell {
    background-color: rgb(249, 254, 163);
    opacity: 0.6;
}

.mine {
    background-color: rgb(136, 69, 78);
    opacity: 0.6;
}

.left-side span {
    position: sticky;
    left: 14vw;
}

.right-side span {
    position: sticky;
    right: 78vw;
}

.game-area iconify-icon {
    cursor: pointer;
}

.game-area iconify-icon:hover {
    box-shadow: 0 0.2564vw 0.1282vw -0.1282vw white;
    color: rgb(210, 188, 47);
}


span iconify-icon,
#best-time span {
    margin-left: 1vw;
    transition: all 850ms;
    padding-right: 0.49vw;
    opacity: 0.8;
}

ul {
    top: 27.304vh;
    list-style-type: none;
    width: 3.84vw;
    position: absolute;
}

ul.left-side {
    text-align: left;
}

ul.right-side {
    text-align: right;
    right: 21.15vw;
}

li {
    display: inline-block;
    height: 6.179vh;
    width: 19.2vw;
    padding-bottom: 6.179vh;
    transition: all 800ms;
    font-size: 1.282vw;
    letter-spacing: 0.256vw;
    text-shadow: 0.128vw 0.192vw 0.256vw rgba(181, 181, 181, 0.75);
}

.left-side li {
    margin-left: 1.92vw;
}

.right-side li {
    text-align: right;
    width: 19.2vw;
}

#life iconify-icon {
    cursor: auto;
}

#best-time span {
    margin-left: 5.358vw;
}

#time span {
    margin-left: 1.02vw;
}

#start-button {
    width: 10.3vh;
    height: 10.3vh;
    position: absolute;
    top: 8.2391vh;
    right: 9.61vw;
    border-radius: 50%;
    padding: 3.0848vh;
    cursor: pointer;
    opacity: 0.8;
}

.flags-left {
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 1.282vw;
    left: 9.61vw;
    top: 8.2391vh;
    width: 10.3vh;
    height: 10.3vh;
}

.tab {
    width: fit-content;
    /* position: absolute;
    top: 14.2vh;
    float: center; */
    margin: auto;
    margin-bottom: 4.3vh;
    overflow: hidden;
    border: 1px solid white;
    border-style: outset;
    border-radius: 2.68vh;
}

.tab button {
    background-color: inherit;
    width: 6.8vw;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 1.437vh;
    transition: 0.3s;
    border-radius: 0;
    color: white;
}

.tab button:hover,
.mute:hover {
    background-color: white;
    color: black;
}

.tab button.active {
    background-color: white;
    color: black;
}


#undo:hover,
#redo:hover,
.flags-left:hover {
    color: black;
    background-color: white;
    opacity: 0.8;
}

.mute {
    color: black;
    background-color: white;
}

h3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.059vh;
    left: 0;
    right: 0;
    top: 19.3vh;
    transition: opacity 3000ms;
}

.flags-too-many {
    background-color: rgb(136, 69, 78);
}

.win {
    background-color: rgb(159, 230, 199);
}





body.light-mode {
    background-image: url('../imgs/backgroung-light.jpeg');
    color: black;
}

.light-mode h1 {
    text-shadow: 0.128vw 0.192vw 0.256vw rgba(255, 255, 255, 0.75)
}

.light-mode button {
    border: 1px solid black;
}

.light-mode h1 button {
    color: black;
}


.light-mode #mute:hover :disabled .flags-left:hover {
    color: white;
    background-color: black;
}

.light-mode button:hover {
    color: black;
}

.light-mode tr,
.light-mode td {
    border: 1px solid black;
    width: 21.6px;
}

.light-mode td:hover {
    background-color: black;
    color: white;
}

.light-mode .safe {
    background-color: rgb(159, 203, 230);
}

.light-mode .hint-cell {
    background-color: rgb(159, 230, 199);
}

.light-mode .game-area span {
    color: rgb(255, 255, 255);
}

.light-mode .light-mode li {
    text-shadow: 0.128vw 0.192vw 0.256vw rgba(255, 255, 255, 0.75);
}

.light-mode .flags-left {
    color: black;
}

.light-mode .tab {
    border: 1px solid rgb(0, 0, 0);
}

.light-mode .tab button {
    border: none;
    color: white;
}

.light-mode .tab button:hover,
.light-mode .mute:hover {
    background-color: rgb(144, 142, 142);
}

.light-mode .tab button.active {
    background-color: rgb(70, 70, 70);
    color: white;
}

.light-mode #undo:hover,
.light-mode #redo:hover {
    color: black;
    background-color: rgb(176, 173, 173);
}

.light-mode .mute {
    background-color: transparent;
}

.light-mode #start-button {
    background-color: transparent;
}

.light-mode #start-button:hover,
.light-mode .flags-left:hover {
    background-color: rgb(130, 148, 184);
    opacity: 0.6;
}

.light-mode .game-area {
    text-shadow: 0.256vw 0.256vw 0.38vw 0.64vw white;
}

.light-mode .win {
    background-color: rgb(159, 230, 199);
}

.light-mode .game-area iconify-icon:hover {
    box-shadow: 0 2.56vw 1.28vw -1.28vw white;
    color: rgb(210, 188, 47);
}

#life iconify-icon:hover {
    color: rgba(145, 31, 31);
}