html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    text-align: center;
    background-image: url('../imgs/backgroung.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 47px;
    letter-spacing: 10px;
    text-shadow: 2px 3px 4px rgba(181, 181, 181, 0.75)
}

button {
    border: 1px solid white;
    border-style: outset;
    border-radius: 50%;
    opacity: 0.8;
}

h1 button {
    height: 40px;
    width: 40px;
    cursor: pointer;
    color: white;
    background: transparent;
}


#mute:hover :disabled .flags-left:hover {
    color: black;
    background-color: white;
}

h2 {
    position: sticky;
    font-size: 20px;
    letter-spacing: 3px;
    top: 770px;
    text-shadow: 2px 3px 4px rgba(181, 181, 181, 0.75);
}

button:hover {
    background-color: transparent;
    color: white;
    transition: all 400ms;
}

table {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 280px;
    text-align: center;
    margin: auto;
    border-spacing: 3px;
}

tr,
td {
    height: 32px;
    width: 29px;
    font-weight: bold;
    transition: opacity 500ms;
    background-color: transparent;
    border: 0.2px solid white;
    border-radius: 4px;
    transition: all 400ms;
}

td:hover {
    background-color: white;
    opacity: 0.5;
    color: black;
}

.cell {
    opacity: 0.7;
}

.safe {
    background-color: rgb(159, 230, 199);
    opacity: 0.6;
    color: black;
}

.mine-marked {
    background-color: rgb(226, 178, 123);
    opacity: 0.6;
}

.mega-hint-cell {
    background-color: rgb(199, 140, 231);
    opacity: 0.6;
}

.hint-cell {
    background-color: rgb(140, 199, 231);
    opacity: 0.6;
}

.selected-cell {
    background-color: rgb(249, 254, 163);
    opacity: 0.6;
}

.mine {
    background-color: rgb(136, 69, 78);
    opacity: 0.6;
}

.left-side span {
    position: sticky;
    left: 220px;
}

.right-side span {
    position: sticky;
    right: 1220px;
}

.game-area iconify-icon{
    cursor: pointer;
}

.game-area iconify-icon:hover {
    box-shadow: 0 4px 2px -2px white;
    color: rgb(210, 188, 47);
}


span iconify-icon,
#best-time span {
    margin-left: 15px;
    transition: all 850ms;
    padding-right: 8px;
    opacity: 0.8;
}

ul {
    top: 265px;
    list-style-type: none;
    width: 60px;
    position: absolute;
}

ul.left-side {
    text-align: left;
}

ul.right-side{
    text-align: right;
    right: 330px;
}

li {
    display: inline-block;
    height: 60px;
    width: 300px;
    padding-bottom: 60px;
    transition: all 800ms;
    font-size: 20px;
    letter-spacing: 4px;
    text-shadow: 2px 3px 4px rgba(181, 181, 181, 0.75);
}

.left-side li {
    margin-left: 30px;
}

.right-side li {
    text-align: right;
    width: 300px;
}

#life iconify-icon {
    cursor: auto;
}

#best-time span {
    margin-left: 80px;
}

#time span {
    margin-left: 16px;
}

#start-button {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 80px;
    right: 150px;
    border-radius: 50%;
    padding: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    opacity: 0.8;
}

.flags-left {
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 20px;
    left: 150px;
    top: 80px;
    width: 100px;
    height: 100px;
}

.tab {
    width: fit-content;
    margin: auto;
    margin-bottom: 40px;
    overflow: hidden;
    border: 1px solid white;
    border-style: outset;
    border-radius: 25px;
}

.tab button {
    background-color: inherit;
    width: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    border-radius: 0;
    color: white;
}

.tab button:hover,
.mute:hover {
    background-color: white;
    color: black;
}

.tab button.active {
    background-color: white;
    color: black;
}


#undo:hover,
.flags-left:hover {
    color: black;
    background-color: white;
    opacity: 0.8;
}

.mute {
    color: black;
    background-color: white;
}

h3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    left: 0;
    right: 0;
    top: 210px;
    transition: opacity 3000ms;
}

.flags-too-many {
    background-color: rgb(136, 69, 78);
}

.win {
    background-color: rgb(159, 230, 199);
}





body.light-mode{
    background-image: url('../imgs/backgroung-light.jpeg');
    color: black;
}

.light-mode h1 {
    text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.75)
}

.light-mode button {
    border: 1px solid black;
}

.light-mode h1 button {
    color: black;
}


.light-mode #mute:hover :disabled .flags-left:hover {
    color: white;
    background-color: black;
}

.light-mode button:hover {
    color: black;
}

.light-mode tr,
.light-mode td {
    border: 1px solid black;
    width: 28px;
}

.light-mode td:hover {
    background-color: black;
    color: white;
}

.light-mode .safe {
    background-color: rgb(159, 203, 230);
}

.light-mode .hint-cell {
    background-color: rgb(159, 230, 199);
}

.light-mode .game-area span iconify-icoy{
    color: black;
}

/* .light-mode .selected-cell {
    background-color: rgb(249, 254, 163);
    opacity: 0.6;
}

.light-mode .mine {
    background-color: rgb(136, 69, 78);
    opacity: 0.6;
} */

.light-mode .light-mode li {
    text-shadow: 2px 3px 4px rgba(255, 255, 255, 0.75);
}

.light-mode .flags-left {
    color: black;
}

.light-mode .tab {
    border: 1px solid rgb(0, 0, 0);
}

.light-mode .tab button {
    border: none;
    color: white;
}

.light-mode .tab button:hover,
.light-mode .mute:hover {
    background-color: rgb(144, 142, 142);
}

.light-mode .tab button.active {
    background-color: rgb(70, 70, 70);
    color: white;
}

.light-mode #undo:hover,
.light-mode .flags-left:hover {
    color: black;
    background-color: rgb(176, 173, 173);
}

.light-mode .mute {
    background-color: transparent;
}

.light-mode #start-button {
    background-color: transparent;
}

.light-mode #start-button:hover {
    background-color: rgb(137, 134, 134);
}

.light-mode .game-area{
    text-shadow: 4px 4px 6px 10px white;
}

.light-mode .win {
    background-color: rgb(159, 230, 199);
}

.light-mode .game-area iconify-icon:hover {
    box-shadow: 0 4px 2px -2px white;
    color: rgb(246, 246, 246);
}

#life iconify-icon:hover{
    color: rgba(145, 31, 31);
}